<header>
<h1>
➤ Welcome to Shine, <%= current_user.email %>
<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
</h1>
<h2>
We're using Rails <%= Rails.version %>
</h2>
</header>
<section>
<p>
Future home of Shine's Dashboard
</p>
</section>
